<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登入</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <style>
        .custom-error-message {
        font-size: 14px;
        font-style: italic;
        color: #ff0000;
    }

    </style>
</head>
<body style="">

<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>


<div class="container-fluid d-flex justify-content-center">

    <div class="row col-12 mt-5">

        <div class="flexitem col-5" style="width:40%; "></div>

        <div id="loginbox" style="width:fit-content"
             class="col-2 mt-5">

            <div class="card border-dark">

                <div class="card-header bg-warning fs-5">
                    登入
                </div>

                <div class="card-body ">
                    <div class="card-text">
                        <!-- Login Form -->
                        <form th:action="@{/ThinkEat/authenticateUser}"
                              method="post" class="form-horizontal" onsubmit="return validateForm();">
                            <!-- Place for messages: error, alert etc ... -->
                            <div class="form-group">
                                <div>
                                    <div>
                                        <!-- 登入錯誤 -->
                                        <div th:if="${registrationError}">
                                            <div class="alert alert-danger">
                                                <span th:text="${registrationError}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <!-- session過期請重新登入 -->
                                        <div th:if="${SessionExpiredError}">
                                            <div class="alert alert-danger">
                                                <span th:text="${SessionExpiredError}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="my-4">
                                    <!-- 帳號 -->
                                    帳號：<input type="text" id="username" name="username" placeholder="請輸入帳號"
                                                required/>
                                </div>
                                <div class="my-4">
                                    <!-- 密碼 -->
                                    密碼：<input type="password" id="password" name="password" placeholder="請輸入密碼"
                                                required/>
                                </div>
                            </div>
                            <!-- 登入按鈕-->
                            <div class="d-flex mt-3 justify-content-center">
                                <div class=" controls">
                                    <button type="submit" class="btn btn-success">登入</button>
                                </div>
                            </div>
                            <div class="d-flex mt-1 justify-content-center">
                                <!-- 註冊會員 -->
                                <div class="controls mt-3">
                                    <span class="fs-6 fw-light">還不是會員嗎？</span>
                                    <a th:href="@{/ThinkEat/SignIn}">加入會員</a>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexitem col-5" style="width:40%; "></div>
    </div>
</div>
<script>
    function resetForm() {
         document.getElementById("username").value = "";  // 清空帳號
         document.getElementById("password").value = "";  // 清空密碼
         document.getElementById("nickname").value = "";  // 清空暱稱
     }

    function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // 使用正則表達式檢查是否只包含英數字
        var regex = /^[a-zA-Z0-9]+$/;

        if (!regex.test(username)) {
            alert("帳號只能包含英數字");
            return false; // 阻止表單提交
        }

        if (!regex.test(password)) {
            alert("密碼只能包含英數字");
            return false; // 阻止表單提交
        }

        return true; // 允許表單提交
    }

</script>
</body>
</html>

<!-- 驗證碼區
🔐 驗證: <input type="text" id="code" name="code">
                    <img src="./getcode" alt="驗證碼">
                    <p />
-->
