<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登入</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body style="padding: 15px">
<div class="container d-flex justify-content-center">

    <div class="row col-12">

        <div class="flexitem col-1" style="width:10%; "></div>

        <div id="loginbox" style=""
             class="col-10">

            <div class="card border-info">

                <div class="card-header bg-info">
                    登入
                </div>

                <div class="card-body ">
                    <div class="card-text">
                        <!-- Login Form -->
                        <form th:action="@{/ThinkEat/authenticateUser}"
                              method="post" class="form-horizontal">

                            <!-- Place for messages: error, alert etc ... -->
                            <div class="form-group">
                                <div class="col-xs-15">
                                    <div>
                                        <!-- Check for login error -->
                                        <div th:if="${param.error}">
                                            <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                                帳號或密碼不存在
                                            </div>
                                        </div>
                                        <!-- Check for logout -->
                                        <div th:if="${param.logout}">
                                            <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                                你已經被登出
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- username -->
                            <div style="margin-bottom: 25px" class="input-group">
                                <input type="text" name="username" placeholder="username" class="form-control">
                            </div>

                            <!-- 密碼 -->
                            <div style="margin-bottom: 25px" class="input-group">
                                <input type="password" name="password" placeholder="password" class="form-control">
                            </div>

                            <!-- 登入按鈕-->
                            <div style="margin-top: 10px" class="form-group">
                                <div class="col-sm-6 controls">
                                    <button type="submit" class="btn btn-success">登入</button>
                                </div>
                            </div>

                            <!-- 註冊會員按鈕 -->
                            <div style="margin-top: 10px" class="form-group">
                                <div class="col-sm-6 controls">
                                    <button type="button" class="btn btn-primary"
                                            th:onclick="|window.location.href='/ThinkEat/SignIn'|">
                                        會員註冊
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="flexitem col-1" style="width:10%; "></div>
    </div>
</div>
</body>
</html>

<!-- 驗證碼區
🔐 驗證: <input type="text" id="code" name="code">
                    <img src="./getcode" alt="驗證碼">
                    <p />
-->
