<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>

<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>

    <!-- 互動視窗1 建立清單 -->
    <div class="modal fade" id="addFavListModal"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFavListModalLabel">建立新的收藏清單</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="Post"
                          th:action="@{/ThinkEat/FavList/Create}">
                        <fieldset>
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-5">請輸入清單名稱：</label>
                                <div class="col-7">
                                    <input type="text" class="form-control"
                                           id="name" name="name" required/>
                                </div>
                            </div>
                            <input id="userId" name="userId" th:value="${userId}" type="hidden">
                            <div class="my-5">
                                <!--送出-->
                                <input type="submit" class="btn btn-success mx-4" th:value="建立清單">
                                <!--清除-->
                                <input type="reset" class="btn btn-danger mx-4" th:value="清除">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 互動視窗2 修改清單名稱 -->
    <div class="modal fade" id="editFavListModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editFavListModalLabel">修改收藏清單</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="Post"
                          th:action="@{/ThinkEat/FavList/EditList}">
                        <fieldset>
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-5">修改清單名稱：</label>
                                <div class="col-7">
                                    <input type="text" class="form-control"
                                           id="name" name="name" required/>
                                </div>
                            </div>
                            <input id="listCount" name="listCount" th:value="${listCount}" type="hidden">
                            <input id="userId" name="userId" th:value="${userId}" type="hidden">
                            <div class="my-5">
                                <!--送出-->
                                <input type="submit" class="btn btn-success mx-4" th:value="修改清單">
                                <!--清除-->
                                <input type="reset" class="btn btn-danger mx-4" th:value="清除">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid d-flex mx-0 px-0" style="min-height: 100vh;">
        <!-- 側邊攔 -->
        <aside class="mh-100" style="background-color: rgb(254, 241, 154); min-width:15%;">
            <div class="sidebar_header  text-center pt-2 fs-5">清單一覽</div>
            <nav class="sidebar mx-2 my-5 text-center"
                 th:each="favList : ${favListList}">
                <a th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(userId=${userId}, listCount=${favList.listCount})}"
                   th:text="${favList.name}"
                   class="d-block py-3">
                </a>
            </nav>
            <!-- 建立清單 互動視窗 -->
            <div class="mx-2 my-3 text-center">
                <button type="button" class="btn btn-success text-center"
                      data-bs-toggle="modal"
                      data-bs-target="#addFavListModal">
                  建立新的清單
               </button>
            </div>
        </aside>
        <!-- 主內容區 -->
        <section class="w-100 d-flex justify-content-center align-items-center Intro"
                 style="background-color: rgb(240, 240, 240);">
            <div class="bg-light d-flex flex-column justify-content-between p-2" style="width: 90%; height: 95%">
                <div>
                    <!-- 功能區 -->
                    <section class="d-flex justify-content-between mt-2">
                        <!-- 標題 -->
                        <h3 th:text="${favListName}"></h3>
                        <div class="d-flex">
                            <!-- 修改清單 互動視窗 -->
                            <button type="button"
                                    class="mx-2 btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editFavListModal">
                                修改這張清單
                            </button>
                        <!-- 刪除 -->
                            <form method="post" th:action="@{/ThinkEat/FavList/DeleteFavList}" class="mx-1">
                                <input type="hidden" id="favListId" name="favListId" th:value="${favListId}">
                                <input type="submit" value="刪除清單"
                                       style="width: 112px; height: 41.59px; "
                                       class="btn btn-warning">
                            </form>
                        </div>
                    </section>
                    <!-- 抽選功能區 -->
                    <section class="d-flex justify-content-between my-3">
                        <form method="post"
                              th:action="@{/ThinkEat/FavList/{favListId}/Gacha/{count}(favListId=${favListId}, count=${count})}">
                            <span th:text="'本清單中共有 ' + ${totalRestaurants} + ' 家餐廳' "></span>
                            從中抽取：<select id="count" name="count">
                            <option th:each="count : ${#numbers.sequence(0, totalRestaurants)}"
                                    th:value="${count}"
                                    th:text="${count}">
                            </option>
                        </select>
                            <input type="hidden" id="favListId" name="favListId" th:value="${favListId}">
                            <input type="submit" value="抽取">
                        </form>
                    </section>

                    <!-- 接收所有餐廳資訊，生成縮圖 -->
                    <div class="pagination d-flex flex-wrap justify-content-center mt-4" style="min-height:50vh">
                        <div class="row">
                            <th:block th:each="restaurant : ${restaurantPageDto.restaurantList}">
                                <div class="col-3">
                                    <figure th:if="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                            class="m-2 d-flex flex-column align-items-center"
                                            style="min-height: 150px; min-width: 150px;">
                                        <img th:src="${restaurant.resPicList.get(0).htmlPath}"
                                             class="img-thumbnail"
                                             style="height: 200px; width: 200px; background-color: red;">
                                        <div class="text-center my-1">
                                            <a th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                               th:text="${restaurant.name}"></a>
                                        </div>
                                        <div class="text-center my-1">
                                            <form method="post" th:action="@{/ThinkEat/FavList/RemoveRestaurant}">
                                                <input type="hidden" name="restaurantId" th:value="${restaurant.id}">
                                                <input type="hidden" name="favListId" th:value="${favListId}">
                                                <input type="hidden" name="listCount" th:value="${listCount}">
                                                <input type="hidden" name="userId" th:value="${userId}">
                                                <input type="submit" class="btn btn-danger" th:value="移除">
                                            </form>
                                        </div>
                                    </figure>
                                    <figure th:unless="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                            class="m-2 d-flex flex-column align-items-center"
                                            style="min-height: 150px; min-width: 150px;">
                                        <img style="height: 200px; width: 200px; background-color: darkgray;"
                                             class="img-thumbnail">
                                        <div class="text-center  my-1">
                                            <a class="text-center fs-6"
                                               th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                               th:text="${restaurant.name}"></a>
                                        </div>
                                    </figure>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <!-- 分頁頁籤 -->
                    <div class="d-flex justify-content-center">
                        <div class="bg-light mt-5 align-self-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <!-- 第一頁 -->
                                    <li class="page-item" th:if="${curPage > 0}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(page=0, userId=${userId}, listCount=${listCount})}">
                                            第一頁
                                        </a>
                                    </li>

                                    <!-- 上一頁 -->
                                    <li class="page-item" th:if="${curPage > 0}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(page=${curPage - 1}, userId=${userId}, listCount=${listCount})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- 以頁碼切換 -->
                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, maxPage -1)}">
                                        <th:block th:if="${i >= 0}">
                                            <a class="page-link"
                                               th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(page=${i}, userId=${userId}, listCount=${listCount})}"
                                               th:text="${i + 1}"></a>
                                        </th:block>
                                    </li>

                                    <!-- 下一頁 -->
                                    <li class="page-item" th:if="${curPage < maxPage - 1}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(page=${curPage + 1}, userId=${userId}, listCount=${listCount})}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>

                                    <!-- 最後一頁 -->
                                    <li class="page-item" th:if="${curPage < maxPage - 1}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/{userId}/List/{listCount}/(page=${maxPage-1}, userId=${userId}, listCount=${listCount})}">
                                            最後一頁
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div> <!-- 分頁頁籤結束 -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>