<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>


    <!-- 側邊攔 -->
    <div class="container-fluid d-flex mx-0 px-0" style="min-height: 100vh; ">
        <aside class="mh-100" style="background-color: rgb(254, 241, 154); min-width: 15%">
            <div class="sidebar_header  text-center pt-2 fs-5">清單一覽</div>
            <nav class="sidebar mx-2 text-center"
                 th:each="favList : ${favListList}">
                <a th:href="@{/ThinkEat/FavList/GuestList/}"
                   th:text="${favList.name}"
                   class="d-block py-3">
                </a>
            </nav>
            <!-- 訪客登入會員 -->
            <div class="d-flex mt-1 mx-2 justify-content-center">
                <!-- 註冊會員 -->
                <div class="controls mt-3 text-center">
                    <a th:href="@{/ThinkEat/Login}">會員登入</a>
                    <div class="fs-6 fw-light">登入會員以享受建立多筆清單的功能</div>
                </div>
            </div>
        </aside>
        <!-- 主內容區 -->
        <section class="w-100 d-flex justify-content-center align-items-center Intro"
                 style="background-color: rgb(240, 240, 240);">
            <div class="bg-light d-flex flex-column justify-content-between p-2" style="width: 90%; height: 95%">
                <div>
                    <!-- 功能區 -->
                    <section class="d-flex justify-content-between mt-2">
                        <!-- 標題 -->
                        <h3 th:text="${favListName}"></h3>
                        <!-- 功能區結束 -->
                    </section>
                    <!-- 抽選功能區 -->
                    <section class="d-flex justify-content-between my-3">
                        <form method="post"
                              th:action="@{/ThinkEat/FavList/{favListId}/Gacha/{count}(favListId=${favListId}, count=${count})}">
                            <span th:text="'本清單中共有 ' + ${totalRestaurants} + ' 家餐廳' "></span>
                            從中抽取：<select id="count" name="count">
                            <option th:each="count : ${#numbers.sequence(0, totalRestaurants)}"
                                    th:value="${count}"
                                    th:text="${count}">
                            </option>
                        </select>
                            <input type="hidden" id="favListId" name="favListId" th:value="${favListId}">
                            <input type="submit" value="抽取">
                        </form>
                    </section>

                    <!-- 接收所有餐廳資訊，生成縮圖 -->
                    <div class="pagination d-flex flex-wrap justify-content-center mt-4" style="min-height:50vh">
                        <div class="row">
                            <th:block th:each="restaurant : ${restaurantPageDto.restaurantList}">
                                <div class="col-3">
                                    <figure th:if="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                            class="m-2 d-flex flex-column align-items-center"
                                            style="min-height: 150px; min-width: 150px;">
                                        <img th:src="${restaurant.resPicList.get(0).htmlPath}"
                                             class="img-thumbnail"
                                             style="min-height: 150px; min-width: 150px; background-color: red;">
                                        <div class="text-center my-1">
                                            <a th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                               th:text="${restaurant.name}"></a>
                                        </div>
                                    </figure>
                                    <figure th:unless="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                            class="m-2 d-flex flex-column align-items-center"
                                            style="min-height: 150px; min-width: 150px;">
                                        <img style="min-height: 150px; min-width: 150px; background-color: darkgray;"
                                             class="img-thumbnail">
                                        <div class="text-center  my-1">
                                            <a class="text-center fs-6"
                                               th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                               th:text="${restaurant.name}"></a>
                                        </div>
                                    </figure>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <!-- 分頁頁籤 -->
                    <div class="d-flex justify-content-center">
                        <div class="bg-light mt-5 align-self-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <!-- 第一頁 -->
                                    <li class="page-item" th:if="${curPage > 0}">
                                        <a class="page-link" th:href="@{/ThinkEat/FavList/GuestList/(page=0)}">
                                            第一頁
                                        </a>
                                    </li>

                                    <!-- 上一頁 -->
                                    <li class="page-item" th:if="${curPage > 0}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/GuestList/(page=${curPage - 1})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- 以頁碼切換 -->
                                    <li class="page-item" th:each="i : ${#numbers.sequence(0, maxPage - 1)}">
                                        <th:block th:if="${i >= 0}">
                                            <a class="page-link" th:href="@{/ThinkEat/FavList/GuestList/(page=${i})}"
                                               th:text="${i + 1}"></a>
                                        </th:block>
                                    </li>

                                    <!-- 下一頁 -->
                                    <li class="page-item" th:if="${curPage < maxPage - 1}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/GuestList/(page=${curPage + 1})}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>

                                    <!-- 最後一頁一頁 -->
                                    <li class="page-item" th:if="${curPage < maxPage - 1}">
                                        <a class="page-link"
                                           th:href="@{/ThinkEat/FavList/GuestList/(page=${maxPage}-1)}">
                                            最後一頁
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div> <!-- 分頁頁籤結束 -->


                    </div> <!-- 大div區結束 -->
        </section>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>