<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>圖片上傳功能測試</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>
    <div th:if="${pictureDto != null}">
        <img th:src="${pictureDto.path}">
    </div>
    <form th:object="${pictureDto}"
          th:action="@{/ThinkEat/Test/Upload}"
          method="post"
          enctype="multipart/form-data">
        <input type="file" name="picture" accept="image/*">
        <input type="submit">上傳圖片</input>
    </form>
</main>

</body>
</html>