<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8" />
    <title>頁首</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-light bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/ThinkEat/Index}">想想三餐🤔</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/ThinkEat/ViewEat/ShowEat/?page=0}">瀏覽美食</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/ThinkEat/FavList/}">我的收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/ThinkEat/ShareEat/Restaurant}">發表食記</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/ThinkEat/Account/AccountCenter}">
                            會員中心
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/ThinkEat/SignIn}">
                            加入會員
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/ThinkEat/logout}"
                           th:if="${#authorization.expression('isAuthenticated()')}">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>