<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加新的Tag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>
    <form th:object="${tagDto}" method="post"
          th:action="@{/ThinkEat/ShareEat/ShareEatRepo/{restaurantId}/CreateNewTag}">
        <fieldset>
            <!-- 新價位 -->
            輸入新Tag：<input type="text" id="name" name="name" th:field="${tagDto.name}"/>
            <p/>
            <!-- 餐廳ID -->
            <input id="restaurantId" name="restaurantId" th:value="${restaurantDto.id}" type="hidden"/>
            <!-- 前往食記發表 -->
            <input type="submit" value="返回編輯食記"/>

            <!-- 一鍵清除所有內容(javascript) -->
            <button type="button" onclick="clearForm()">清空</button>
        </fieldset>
    </form>
</main>

<!-- 清空表单的JavaScript函数 -->
<script>
    function clearForm() {
        document.getElementById("name").value = "";
    }
</script>
</body>
</html>