<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>選擇餐廳</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body style="background-color: rgb(240, 240, 240)">
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>
    <!-- 建立新餐廳互動視窗 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">增加新餐廳</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${restaurant}" method="post"
                          th:action="@{/ThinkEat/ShareEat/CreateRestaurant}">
                        <fieldset>
                            <!-- 餐廳名 -->
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-3">餐廳名稱：</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="name" name="name"
                                           th:field="*{name}" required/>
                                </div>
                            </div>
                            <!-- 餐廳ID -->
                            <div>
                                <input id="id" field="*{id}" type="hidden"/>
                            </div>
                            <!-- 地址(googlemap) -->
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-3">餐廳地址：</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="address" name="address"
                                           th:field="*{address}" required/>
                                </div>
                            </div>
                            <div class="mt-4">
                                <!-- 前往食記發表 -->
                                <input type="submit" class="btn btn-warning mx-3" value="建立餐廳"/>

                                <!-- 一鍵清除所有內容(javascript) -->
                                <button type="button" class="btn btn-danger mx-3" onclick="clearForm()">清空</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12 mt-3">

        <div class="flexitem col-2" style="width:15%; "></div>

        <!-- 主內容區 -->
        <div class="col-8 mt-5 bg-light" style="width:70">
            <form th:object="${restaurant}" method="post"
                  th:action="@{/ThinkEat/ShareEat/ChooseRestaurant}">
                <fieldset>
                    <div>
                        <!-- 餐廳名 -->
                        <div class="m-2 row">
                            <label for="name" class="col-form-label col-4">餐廳名稱：</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="name" name="name"
                                       th:field="${restaurant.name}"/>
                            </div>
                        </div>
                        <!-- 餐廳ID -->
                        <input id="restaurantId" name="restaurantId" th:value="${restaurant.id}" type="hidden"/>
                        <!-- 地址(googlemap) -->
                        <div class="m-2 row">
                            <label for="address" class="col-form-label col-4">餐廳地址：</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="address" name="address"
                                       th:field="${restaurant.address}"/>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <!-- 前往食記發表 -->
                        <input class="mx-2 btn btn-warning" type="submit" value="前往食記發表"/>

                        <!-- 一鍵清除所有內容(javascript)
                        <button class="mx-2 btn btn-danger" type="button" onclick="clearForm()">清空</button>-->
                    </div>
                </fieldset>
            </form>
            <!-- 餐廳列表 -->
            <section class="ViewAllRestaurant mt-3">
                <div class="d-flex justify-content-between mb-1">
                        <span>現有餐廳清單</span>
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    onclick="clearModalContent()">
                                建立新餐廳
                            </button>
                        </div>
                </div>
                <table class="table table-hover border p-2 mt-3">
                    <thead class="table-warning">
                        <tr>
                            <th class="text-center">餐廳名稱</th>
                            <th class="text-center">地址</th>
                            <th class="text-center">選擇這家餐廳</th>
                        </tr>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(restaurantList)}"
                               th:each="restaurant : ${restaurantList}"
                               class="table-light">
                        <tr>
                            <!--餐廳名稱-->
                            <td class="text-center" th:text="${restaurant.name}"></td>
                            <!--餐廳地址-->
                            <td class="text-center" th:text="${restaurant.address}"></td>
                            <!--連結-->
                            <td class="text-center">
                                <form th:object="${restaurant}"
                                      method="get"
                                      th:action="@{/ThinkEat/ShareEat/Restaurant/{restaurantId}(restaurantId=${restaurant.id})}">
                                    <input type="submit" value="選擇這家餐廳">
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </section>
        </div>
        <div class="flexitem col-2" style="width:15%; "></div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clearForm() {
        document.getElementById("name").value = "";
        document.getElementById("address").value = "";
    }

    // 清空 modal 內容的JavaScript函数
    function clearModalContent() {
        document.getElementById("name").value = "";
        document.getElementById("address").value = "";
    }
</script>
</body>
</html>