<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>選擇餐廳</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">增加新餐廳</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${restaurant}" method="post" th:action="@{/ThinkEat/ShareEat/CreateRestaurant}"
                          enctype="multipart/form-data">
                        <fieldset>
                            <!-- 餐廳名 -->
                            餐廳名稱：<input type="text" id="name" name="name" th:field="*{name}"/>
                            <p/>
                            <!-- 餐廳ID -->
                            <input id="id" field="*{id}" type="hidden"/>
                            <p/>
                            <!-- 地址(googlemap) -->
                            餐廳地址：<input type="text" id="address" name="address" th:field="*{address}"/>
                            <p/>
                            <!-- 前往食記發表 -->
                            <input type="submit" value="建立餐廳"/>

                            <!-- 一鍵清除所有內容(javascript) -->
                            <button type="button" onclick="clearForm()">清空</button>
                        </fieldset>
                    </form>
                </div>
                .
            </div>
        </div>
    </div>


    <form th:object="${restaurant}" method="post" th:action="@{/ThinkEat/ShareEat/ChooseRestaurant}"
          enctype="multipart/form-data">
        <fieldset>
            <!-- 餐廳名 -->
            餐廳名稱：<input type="text" id="name" name="name" th:field="${restaurant.name}"/>
            <p/>
            <!-- 餐廳ID -->
            <input id="restaurantId" name="restaurantId" th:value="${restaurant.id}" type="hidden"/>
            <p/>
            <!-- 地址(googlemap) -->
            餐廳地址：<input type="text" id="address" name="address" th:field="${restaurant.address}"/>
            <p/>
            <!-- 前往食記發表 -->
            <input type="submit" value="前往食記發表"/>

            <!-- 一鍵清除所有內容(javascript) -->
            <button type="button" onclick="clearForm()">清空</button>
        </fieldset>
    </form>
    <table>
        <thead>
        <div>
            <span>現有餐廳清單</span>
            <div>
                <!-- Button trigger modal -->
                <button type="button" class=""
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                        onclick="clearModalContent()">
                    增加新餐廳
                </button>
            </div>
        </div>
        <tr>
            <th>餐廳名稱</th>
            <th>地址</th>
            <th>選擇這家餐廳</th>
        </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(restaurantList)}"
               th:each="restaurant : ${restaurantList}">
        <tr>
            <!--餐廳名稱-->
            <td th:text="${restaurant.name}"></td>
            <!--餐廳地址-->
            <td th:text="${restaurant.address}"></td>
            <!--連結-->
            <td>
                <form th:object="${restaurant}"
                      method="get"
                      th:action="@{/ThinkEat/ShareEat/Restaurant/{restaurantId}(restaurantId=${restaurant.id})}">
                    <input type="submit" value="選擇這家餐廳">
                </form>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(restaurantList)}">
        <tr>
            <td colspan="3">No restaurants available</td>
        </tr>
        </tbody>
    </table>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function clearForm() {
        document.getElementById("name").value = "";
        document.getElementById("address").value = "";
    }

    // 清空 modal 內容的JavaScript函数
    function clearModalContent() {
        document.getElementById("name").value = "";
        document.getElementById("address").value = "";
    }
</script>
</body>
</html>