<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>發表食記</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>
    <!--    <div>-->
    <!--        <div th:text="${restaurantDto}"></div>-->
    <!--        <div th:text="${prices}"></div>-->
    <!--        <div th:text="${tags}"></div>-->
    <!--    </div>-->

    <!-- 食記內容撰寫區 -->
    <form th:object="${eatRepoDto}" method="post" th:action="@{/ThinkEat/ShareEat/AddEatRepo}"
          enctype="multipart/form-data">
        <fieldset>
            <!-- 食記圖片上傳區 -->
            <div>
                <span>上傳圖片：</span>
                <input type="file" id="progressbarTWInput" name="multipartFileList"
                       accept="image/**" multiple>
                <div id="preview_progressbarTW_imgs"
                     style="width:100%; height: 500px; overflow:scroll">
                    <button type="button" id="deleteImageBtn" style="display: none">移除</button>
                </div>
                <!-- 標題 -->
                標題：<input type="text" id="eatRepoTitle" name="eatRepoTitle" th:field="*{title}"/>
                <p/>
                <!-- 食記ID -->
                <input id="eatRepoId" name="eatRepoId" th:value="${eatRepoId}" type="hidden"/>
                <!-- 餐廳ID -->
                <input id="restaurantId" name="restaurantId" th:value="${restaurantDto.id}" type="hidden"/>
                <p/>
                <!-- 店名 -->
                餐廳名稱：
                <span th:text="${restaurantDto.name}"/>
                <p/>
                <!-- 地址(googlemap) -->
                餐廳地址：
                <span th:text="${restaurantDto.address}"/>
                <p/>
                <!-- 品嘗日期 -->
                品嘗日期：<input type="date" id="date" name="date" th:field="*{date}"/>
                <p/>
                <!-- 價位 -->
                價位：<select id="priceId" name="priceId" th:field="*{priceId}">
                <option th:each="price : ${prices}"
                        th:value="${price.id}"
                        th:text="${price.name}">
                </option>
            </select>
                <!-- 重導到新增價位的頁面 -->
                <button type="button"
                        th:onclick="'window.location.href=\'/ThinkEat/ShareEat/ShareEatRepo/' + ${restaurantDto.id} + '/CreateNewPrice\''">
                    新增
                    Price
                </button>
                <p/>
                <!-- 標籤 -->
                標籤：<span th:each="tag : ${tags}">
                    <input type="checkbox" id="tag" name="tagIds"
                           th:value="${tag.id}"
                           th:text="${tag.name}">
                </span>
                <!-- 重導到新增tag的頁面 -->
                <button type="button"
                        th:onclick="'window.location.href=\'/ThinkEat/ShareEat/ShareEatRepo/' + ${restaurantDto.id} + '/CreateNewTag\''">
                    新增
                    Tag
                </button>
                <p/>
                <!-- 食記 -->
                <div>食記：</div>
                <textarea id="article" name="article" th:field="*{article}" rows="20" cols="100"
                          maxlength="1000"></textarea>
                <p/>

                <!-- 發表文章 -->
                <input type="submit" value="發表文章"/>

                <!-- 一鍵清除所有內容(javascript) -->
                <button type="reset">清空內容</button>
        </fieldset>
    </form>
</main>

</body>
<script>
    $("#progressbarTWInput").change(function () {
        $("#preview_progressbarTW_imgs").html(""); // 清除預覽
        readURL(this);
    });

    function readURL(input) {
        var maxImages = 3; // 設定最大圖片數量

        if (input.files && input.files.length > 0) {
            if (input.files.length > maxImages) {
                alert("最多只能上傳 " + maxImages + " 張圖片");
                // 如果超過限制，可以清除已選擇的檔案
                $("#progressbarTWInput").val('');
                return;
            }

            for (var i = 0; i < input.files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $("<div class='image-container'></div>")
                        .append($("<img width='300' height='200'>").attr('src', e.target.result));
                    $("#preview_progressbarTW_imgs").append(img);
                };
                reader.readAsDataURL(input.files[i]);
            }
        } else {
            var noPictures = $("<p>目前沒有圖片</p>");
            $("#preview_progressbarTW_imgs").append(noPictures);
        }
    }
</script>
</html>
