<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>發表食記</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body style="background-color: rgb(240, 240, 240)">
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main>

    <!-- 互動視窗1 新增價位 -->
    <div class="modal fade" id="addPriceModal"
         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">增加新價位</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${price}" method="post"
                          th:action="@{/ThinkEat/ShareEat/CreateNewPrice}">
                        <fieldset>
                            <!-- 新價位 -->
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-3">價位名稱：</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" th:field="${price.name}"
                                           id="name" name="name" required/>
                                </div>
                            </div>
                            <!-- 餐廳ID -->
                            <input id="restaurantId" name="restaurantId" th:value="${restaurant.id}" type="hidden"/>
                            <!-- 按鍵區 -->
                            <div class="mt-4">
                                <!-- 前往食記發表 -->
                                <input type="submit" class="btn btn-warning mx-3" value="確認"/>

                                <!-- 一鍵清除所有內容(javascript) -->
                                <button type="reset" class="btn btn-danger mx-3">清空</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                .
            </div>
        </div>
    </div>

    <!-- 互動視窗2 新增標籤 -->
    <div class="modal fade" id="addTagModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">增加新標籤</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${tag}" method="post"
                          th:action="@{/ThinkEat/ShareEat/CreateNewTag}">
                        <fieldset>
                            <!-- 新標籤 -->
                            <div class="m-3 row">
                                <label for="name" class="col-form-label col-3">標籤名稱：</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" th:field="${tag.name}"
                                           id="name" name="name" required/>
                                </div>
                            </div>
                            <!-- 餐廳ID -->
                            <input id="restaurantId" name="restaurantId" th:value="${restaurant.id}" type="hidden"/>
                            <!-- 食記ID -->
                            <input id="eatRepoId" name="eatRepoId" th:value="${eatRepoId}" type="hidden"/>
                            <!-- 按鍵區 -->
                            <div class="mt-4">
                                <!-- 前往食記發表 -->
                                <input type="submit" class="btn btn-warning mx-3" value="確認"/>

                                <!-- 一鍵清除所有內容(javascript) -->
                                <button type="reset" class="btn btn-danger mx-3">清空</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-12">

        <div class="flexitem col-2" style="width:15%; "></div>
        <div class="col-8 mt-5 bg-light" style="width:70">
            <!-- 食記內容撰寫區 -->
            <form th:object="${eatRepo}" method="post" th:action="@{/ThinkEat/ShareEat/AddEatRepo}"
                  enctype="multipart/form-data">
                <fieldset>
                    <!-- 食記圖片上傳區 -->
                    <div class="m-2 row">
                        <label for="progressbarTWInput" class="col-form-label col-2">上傳圖片</label>
                        <div class="col-7">
                            <input type="file" class="form-control" id="progressbarTWInput" name="multipartFileList"
                                   accept="image/**" required>
                            <div id="preview_progressbarTW_imgs"
                                 style="width:100%; height: fit-content; overflow:scroll">
                            </div>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <!-- 標題 -->
                    <div class="m-2 row">
                        <label for="eatRepoTitle" class="col-form-label col-2">標題：</label>
                        <div class="col-7">
                            <input type="text" class="form-control" id="eatRepoTitle" name="eatRepoTitle"
                                   th:field="*{title}" required/>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <!-- 食記ID -->
                    <input id="eatRepoId" name="eatRepoId" th:value="${eatRepoId}" type="hidden"/>
                    <!-- 餐廳ID -->
                    <input id="restaurantId" name="restaurantId" th:value="${restaurant.id}" type="hidden"/>
                    <!-- 店名 -->
                    <div class="m-2 row">
                        <label for="eatRepoTitle" class="col-form-label col-2">餐廳名稱：</label>
                        <div class="col-10">
                            <input type="text" readonly class="form-control-plaintext"
                                   id="restaurantName" name="restaurantName"
                                   th:value="${restaurant.name}"/>
                        </div>
                    </div>
                    <!-- 地址(googlemap) -->
                    <div class="m-2 row">
                        <label for="restaurantAddress" class="col-form-label col-2">餐廳地址：</label>
                        <div class="col-10">
                            <input type="text" readonly class="form-control-plaintext"
                                   id="restaurantAddress" name="restaurantAddress"
                                   th:value="${restaurant.address}"/>
                        </div>
                    </div>
                    <!-- 品嘗日期 -->
                    <div class="m-2 row">
                        <label for="date" class="col-form-label col-2">日期：</label>
                        <div class="col-7">
                            <input type="date" class="form-control" id="date" name="date" th:field="*{date}" required/>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <!-- 價位 -->
                    <div class="m-2 row">
                        <label for="price" class="col-form-label col-2">價位</label>
                        <div class="col-7">
                            <select class="form-select" id="price" name="priceId">
                                <option th:each="price : ${prices}"
                                        th:value="${price.id}"
                                        th:text="${price.name}"></option>
                            </select>
                        </div>
                        <div class="col-3">
                            <!-- 建立新價位 互動視窗 -->
                            <button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addPriceModal"
                                    onclick="clearModalContent()">
                                增加新價位
                            </button>
                        </div>
                    </div>
                    <!-- 標籤 -->
                    <div class="m-2 row">
                        <label for="tag" class="col-form-label col-2">標籤</label>
                        <div class="col-7">
                            <div class="form-check form-check-inline" th:each="tag : ${tags}">
                                <input type="checkbox" class="form-check-input" id="tag" name="tagIds"
                                       th:value="${tag.id}" th:text="${tag.name}">
                            </div>
                        </div>
                        <div class="col-3">
                            <!-- 建立新標籤 -->
                            <button type="button" class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addTagModal"
                                    onclick="clearModalContent()">
                                增加新標籤
                            </button>
                        </div>
                    </div>

                    <!-- 食記 -->
                    <div class="m-2 row">
                        <label for="date" class="col-form-label col-2">食記：</label>
                        <div class="col-7">
                            <textarea type="text" rows="10" class="form-control" id="article" name="article"
                                      th:field="*{article}" required></textarea>
                        </div>

                        <div class="col-3">
                        </div>
                    </div>

                    <div class="d-flex justify-content-center m-3">
                        <!-- 發表文章 -->
                        <input class="mx-3 btn btn-warning" type="submit" value="發表文章"/>

                        <!-- 一鍵清除所有內容(javascript) -->
                        <button class="mx-3 btn btn-danger" type="reset">清空內容</button>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="flexitem col-2" style="width:15%; "></div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>

// 清空 modal 內容的JavaScript函数
function clearModalContent() {
    document.getElementById("name").value = "";
}

$("#progressbarTWInput").change(function () {
    $("#preview_progressbarTW_imgs").html(""); // 清除預覽
    readURL(this);
});

function readURL(input) {
var maxImages = 3; // 設定最大圖片數量

if (input.files && input.files.length > 0) {
if (input.files.length > maxImages) {
    alert("最多只能上傳 " + maxImages + " 張圖片");
    // 如果超過限制，可以清除已選擇的檔案
    $("#progressbarTWInput").val('');
    return;
}

for (var i = 0; i < input.files.length; i++) {
    var reader = new FileReader();
    reader.onload = function (e) {
        var img = $("<div class='image-container'></div>")
            .append($("<img width='40%' height='40%'>").attr('src', e.target.result));
        $("#preview_progressbarTW_imgs").append(img);
    };
    reader.readAsDataURL(input.files[i]);
}
} else {
var noPictures = $("<p>目前沒有圖片</p>");
$("#preview_progressbarTW_imgs").append(noPictures);
}
}
</script>
</body>
</html>
