<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'食記：' + ${eatRepoDto.title} + ' 餐廳：' + ${eatRepoDto.restaurant.getName()} "></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script>
    </script>
    <style>
        .notification {
        background-color: red; /* 綠色背景 */
        color: white; /* 白色文字 */
        text-align: center; /* 文字置中 */
        padding: 16px; /* 內邊距 */
        margin: 16px 0; /* 外邊距 */
        border-radius: 4px; /* 圓角 */
        }

    .notification.fade-in {
        animation: fadeIn 0.0s ease-in-out;
    }

    .notification.fade-out {
        animation: fadeOut 0.1s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    </style>
</head>
<body style="background-color: rgb(240, 240, 240)">

<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main class="my-3">

    <div class="container-medium d-flex justify-content-evenly-medium">
        <div class="row col-12">
            <div class="flexitem col-1" style="width:10%; "></div>

            <!-- 內容區塊 -->
            <div class="flexitem col-10" style="width:80%; ">
                <!-- 返回餐廳按鈕 -->
                <div class="returnToResView mb-2 ">
                    <input type="button"
                           class="btn btn-warning"
                           th:value="'回到餐廳  ' + ${eatRepoDto.restaurant.getName()}"
                           th:onclick="|window.location.href='/ThinkEat/ViewEat/ResInfo/' + ${restaurantId} |">
                </div>

                <!-- 標題 + 圖片 -->
                <div class="bg-light border border-warning border border-2 rounded-2 pt-2 pb-3 px-2"
                     style="">
                    <div class="row d-flex justify-content-between">
                        <!--標題 -->
                        <div class="col-10">
                            <h3 th:text="${eatRepoDto.title}"></h3>
                        </div>
                        <!-- 刪除文章(後臺做好後拿掉) -->
                        <div class="col-2">
                            <form method="post"
                                  th:action="@{/ThinkEat/ShareEat/ShareEatRepo/Delete/{eatRepoId}(eatRepoId=${eatRepoDto.id})}">
                                <input type="submit" value="刪除文章">
                            </form>
                        </div>
                    </div>

                    <!-- 圖片 -->
                    <section class="d-flex justify-content-center bg-light">
                        <div th:each="imagePath : ${imagePaths}">
                            <img th:src="${imagePath}" class="d-block img-fluid">
                        </div>
                    </section>

                    <!--資訊區(用餐日期 標籤 價位 食記 作者) -->
                    <div class="eatInfoArea mx-2 mt-2 ">
                        <!--標題  收藏文章+編輯文章 -->
                        <div class="row d-flex justify-content-between">
                            <div class="col-2 fs-5 fw-bold" th:text="${eatRepoDto.eatRepo_User}">
                            </div>
                            <!--添加收藏 + 編輯-->
                            <div class="col-10 d-flex justify-content-end">
                                <!--添加收藏 -->
                                <form method="post"
                                      class="me-5"
                                      th:action="@{/ThinkEat/FavList/AddFavList/{eatRepoId}(eatRepoId=${eatRepoDto.id})}">
                                    添加收藏：
                                    <select id="favListId" name="favListId">
                                        <option th:each="favList : ${allFavList}"
                                                th:value="${favList.id}"
                                                th:text="${favList.name}">
                                        </option>
                                    </select>
                                    <input type="submit" value="添加收藏">
                                    <!-- 在頁面中顯示通知 -->
                                    <div id="notification" th:if="${message}" class="notification fade-in">
                                        <p th:text="${message}"></p>
                                    </div>
                                </form>
                                <!--編輯文章 -->
                                <form method="get"
                                      class=""
                                      th:action="@{/ThinkEat/ShareEat/ShareEatRepo/Edit/{eatRepoId}(eatRepoId=${eatRepoDto.id})}">
                                    <input type="submit" value="編輯文章">
                                </form>
                            </div>
                        </div>
                        <!-- 食記內文 -->
                        <div class="row my-1 py-3 ">
                            <div class="fs-6 mx-2" th:text="${eatRepoDto.article}"></div>
                        </div>

                        <div class="row mt-2">
                            <!-- 用餐日期 -->
                            <div class="col-4">
                                用餐日期：<span class="fw-light"
                                               th:text="${#dates.format(eatRepoDto.date, 'yyyy-MM-dd E')}"></span>
                            </div>
                            <!-- 價位 -->
                            <div class="col-4">
                                價位：<span class="fw-light" th:text="${eatRepoDto.price.getName()}"></span>
                            </div>
                        </div>
                        <!-- 標籤 -->
                        <div class="row col-12 mt-3">
                            <div class="col-2 fw-light">標籤：</div>
                            <div th:each="tag : ${eatRepoDto.eatRepo_TagList}" class="col-2 fw-lighter"
                                 th:text="${tag.name}"></div>
                        </div>
                    </div>
                </div>


                <!-- 留言區 -->
                <section class="cmtArea d-flex flex-column my-2">
                    <!-- 所有留言一覽區 -->
                    <div class="border border-dark border-2 rounded-2 bg-light py-1 my-1"
                         th:each="commentDto : ${commentDtoList}">
                        <div class="row d-flex justify-content-between">
                            <!-- 用戶名稱 -->
                            <div class="col-3 ms-2 mt-1 fw-bold">用戶名稱</div>
                            <!-- 刪除留言 -->
                            <form method="post"
                                  class="col-1 me-3"
                                  th:action="@{/ThinkEat/ViewEat/EatRepo/DeleteComment}">
                                <input type="hidden" id="commentId" name="commentId"
                                       th:value="${commentDto.id}">
                                <input type="submit" class="me-2" value="刪除留言">
                            </form>
                        </div>
                        <!-- 留言內容 -->
                        <div class="row my-1 py-2 ms-2">
                            <div class="fs-5" th:text="${commentDto.commentContext}"></div>
                        </div>
                        <!-- 編輯留言 -->
                        <div class="row d-flex justify-content-end">
                            <form method="post"
                                  class="col-1 me-3"
                                  th:action="@{/ThinkEat/ViewEat/EatRepo/EditComment}">
                                <input type="hidden" id="commentId" name="commentId"
                                       th:value="${commentDto.id}">
                                <input type="submit" class="me-2" value="編輯留言">
                            </form>
                        </div>
                    </div>
                    <!-- 發表留言 -->
                    <div class="">
                        <form th:action="@{/ThinkEat/ViewEat/EatRepo/PostComment}"
                              th:object="${commentDto}"
                              method="post">
                            <fieldset>
                                <legend>發表留言</legend>
                                <!-- 食記ID -->
                                <input id="eatRepoId" name="eatRepoId"
                                       th:value="${eatRepoDto.id}"
                                       type="hidden"/>
                                <textarea id="commentContext" name="commentContext"

                                          th:field="*{commentContext}"
                                          rows="5" cols="93"></textarea>
                                <P/>
                                <input type="submit" value="發表留言">
                                <button type="reset">清空</button>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>

            <div class="flexitem col-1" style="width:10%;"></div>

        </div>
    </div>


</main>


<!-- 在頁面底部添加以下 JavaScript 代碼 -->
<script>
    // 監聽頁面載入事件
    document.addEventListener('DOMContentLoaded', function () {
        // 在通知顯示後，設置一定時間後自動隱藏
        var notification = document.getElementById('notification');
        if (notification) {
            setTimeout(function () {
                // 添加 'fade-out' 類別，觸發淡出效果
                notification.classList.add('fade-out');
                notification.addEventListener('animationend', function () {
                    // 動畫結束後將通知隱藏
                    notification.style.display = 'none';
                });
            }, 800); // 設定自動隱藏的時間，這裡設定為3秒（3000毫秒）
        }
    });
</script>

</body>
</html>




