<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'食記：' + ${eatRepo.title} + ' 餐廳：' + ${eatRepo.restaurant.getName()} "></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script>
    </script>
    <style>
        .notification {
        background-color: red; /* 綠色背景 */
        color: white; /* 白色文字 */
        text-align: center; /* 文字置中 */
        padding: 16px; /* 內邊距 */
        margin: 16px 0; /* 外邊距 */
        border-radius: 4px; /* 圓角 */
        }

    .notification.fade-in {
        animation: fadeIn 0.0s ease-in-out;
    }

    .notification.fade-out {
        animation: fadeOut 0.1s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    </style>
</head>
<body style="background-color: rgb(240, 240, 240)">

<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main class="my-3">

    <div class="container-medium d-flex justify-content-evenly-medium">
        <div class="row col-12">
            <div class="flexitem col-1" style="width:10%; "></div>

            <!-- 內容區塊 -->
            <div class="flexitem col-10" style="width:80%; ">
                <!-- 返回餐廳按鈕 -->
                <div class="returnToResView mb-3">
                    <input type="button"
                           class="btn btn-warning"
                           th:value="'回到餐廳  ' + ${eatRepo.restaurant.getName()}"
                           th:onclick="|window.location.href='/ThinkEat/ViewEat/ResInfo/' + ${restaurantId} |">
                </div>

                <!-- 標題 + 圖片 -->
                <div class="bg-light border border-warning border border-2 rounded-2 pt-2 pb-3 px-2"
                     style="">
                    <div class="row d-flex justify-content-between">
                        <!--標題 -->
                        <div class="col-10">
                            <h3 th:text="${eatRepo.title}"></h3>
                        </div>
                    </div>

                    <!-- 圖片 -->
                    <section class="d-flex justify-content-center bg-light">
                        <div th:each="imagePath : ${imagePaths}">
                            <img th:src="${imagePath}" class="d-block img-fluid">
                        </div>
                    </section>

                    <!--資訊區(用餐日期 標籤 價位 食記 作者) -->
                    <div class="eatInfoArea mx-2 mt-2 ">
                        <!--發文者暱稱 -->
                        <div class="row d-flex justify-content-between">
                            <div class="col-2 fs-5 fw-bold" th:text="${eatRepo.eatRepo_User.getNickname()}">
                            </div>
                            <!--添加收藏 + 編輯-->
                            <div class="col-10 d-flex justify-content-end">

                                <!--添加訪客收藏清單 -->
                                <form method="post"
                                      class="me-4"
                                      th:action="@{/ThinkEat/FavList/AddFavList/{eatRepoId}(eatRepoId=${eatRepo.id})}"
                                      th:if="${not #authorization.expression('isAuthenticated()')}">
                                    添加收藏：
                                    <select id="favListId" name="favListId">
                                        <option th:each="favList : ${guestList}"
                                                th:value="${favList.id}"
                                                th:text="${favList.name}">
                                        </option>
                                    </select>
                                    <input type="submit" class="btn btn-success ms-2" value="添加收藏">
                                    <!-- 在頁面中顯示通知 -->
                                    <div id="notification" th:if="${message}" class="notification fade-in">
                                        <p th:text="${message}"></p>
                                    </div>
                                </form>

                                <!--添加會員收藏清單 -->
                                <form method="post"
                                      class="me-4"
                                      th:action="@{/ThinkEat/FavList/AddFavList/{eatRepoId}(eatRepoId=${eatRepo.id})}"
                                      th:if="${#authorization.expression('isAuthenticated()')}">
                                    添加收藏：
                                    <select id="favListId" name="favListId">
                                        <option th:each="favList : ${allFavList}"
                                                th:value="${favList.id}"
                                                th:text="${favList.name}">
                                        </option>
                                    </select>
                                    <input type="submit" class="btn btn-success ms-2" value="添加收藏">
                                    <!-- 在頁面中顯示通知 -->
                                    <div id="notification" th:if="${message}" class="notification fade-in">
                                        <p th:text="${message}"></p>
                                    </div>
                                </form>
                                <!--編輯文章 -->
                                <form method="get"
                                      th:action="@{/ThinkEat/ShareEat/EditEatRepo/{eatRepoId}(eatRepoId=${eatRepoId})}"
                                      th:if="${not #authorization.expression('isAuthenticated()')}>
                                    <input type="submit" class="btn btn-warning" value="編輯文章">
                                </form>
                            </div>
                        </div>
                        <!-- 食記內文 -->
                        <div class="row mx-2 my-3 py-4 bg-light border border-dark border border-1 rounded-3">
                            <div class="fs-6 mx-2" th:text="${eatRepo.article}"></div>
                        </div>

                        <div class="mt-3">
                            <!-- 用餐日期 -->
                            用餐日期：<span class=""
                                           th:text="${#dates.format(eatRepo.date, 'yyyy-MM-dd E')}"></span>
                        </div>

                        <div class="mt-3">
                            <!-- 價位 -->
                            價位：<span class=""
                                       th:text="${eatRepo.price.getName()}"></span>
                        </div>
                        <!-- 標籤 -->
                        <div class="d-flex mt-3">
                            <span class="me-3">標籤：</span>
                            <span th:each="tag : ${eatRepo.eatRepo_TagList}">
                                <span class="fw-bold mx-2" th:text="${tag.name}"></span>
                            </span>
                        </div>
                    </div>
                </div>


                <!-- 留言區 -->
                <section class="d-flex flex-column my-2">
                    <!-- 所有留言一覽區 -->
                    <div class="border border-warning border-2 rounded-2 bg-light py-1 my-1"
                         th:each="comment : ${commentList}">
                        <div class="row d-flex justify-content-between">
                            <!-- 用戶名稱 -->
                            <div class="col-3 ms-2 mt-1 fw-bold">用戶名稱</div>
                        </div>
                        <!-- 留言內容 -->
                        <div class="row my-1 py-2 ms-2">
                            <div class="fs-5" th:text="${comment.commentContext}"></div>
                        </div>
                        <!-- 編輯留言 -->
                        <div class="d-flex justify-content-end">
                            <form method="post"
                                  class="col-1 "
                                  th:action="@{/ThinkEat/ViewEat/EatRepo/EditComment}">
                                <input type="hidden" id="commentId" name="commentId"
                                       th:value="${comment.id}">
                                <input type="submit" class="btn btn-warning" value="編輯留言">
                            </form>
                            <!-- 刪除留言 -->
                            <form method="post"
                                  class="col-1 "
                                  th:action="@{/ThinkEat/ViewEat/EatRepo/DeleteComment}">
                                <input type="hidden" id="commentId" name="commentId"
                                       th:value="${comment.id}">
                                <input type="submit" class="btn btn-warning" value="刪除留言">
                            </form>
                        </div>
                    </div>

                    <div th:if="${not #authorization.expression('isAuthenticated()')}">
                        <div class="d-flex mt-1 justify-content-center">
                            <!-- 註冊會員 -->
                            <div class="controls mt-3">
                                <span class="fs-6 fw-light me-3">覺得這篇文章寫得很好嗎？登入會員來發表你的留言</span>
                                <a th:href="@{/ThinkEat/Login}">登入會員</a>
                            </div>
                        </div>
                    </div>

                    <!-- 發表留言 -->
                    <div class="mt-3" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/ThinkEat/ViewEat/EatRepo/PostComment}"
                              th:object="${comment}"
                              method="post">
                            <fieldset>
                                <legend>發表留言</legend>
                                <!-- 食記ID -->
                                <input id="eatRepoId" name="eatRepoId"
                                       th:value="${eatRepoId}"
                                       type="hidden"/>
                                <!-- 用戶ID -->
                                <input id="userId" name="userId"
                                       th:value="${userId}"
                                       type="hidden"/>
                                <textarea id="commentContext" name="commentContext"
                                          rows="5" class="form-control"
                                          th:field="*{commentContext}"></textarea>
                                <P/>
                                <div class="mt-3">
                                    <input type="submit" class="btn btn-warning mx-1" value="發表留言">
                                    <button type="reset" class="btn btn-danger mx-5">清空</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </section>
            </div>

            <div class="flexitem col-1" style="width:10%;"></div>

        </div>
    </div>


</main>


<!-- 在頁面底部添加以下 JavaScript 代碼 -->
<script>
    // 監聽頁面載入事件
    document.addEventListener('DOMContentLoaded', function () {
        // 在通知顯示後，設置一定時間後自動隱藏
        var notification = document.getElementById('notification');
        if (notification) {
            setTimeout(function () {
                // 添加 'fade-out' 類別，觸發淡出效果
                notification.classList.add('fade-out');
                notification.addEventListener('animationend', function () {
                    // 動畫結束後將通知隱藏
                    notification.style.display = 'none';
                });
            }, 800); // 設定自動隱藏的時間，這裡設定為3秒（3000毫秒）
        }
    });
</script>

</body>
</html>




