<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>食紀</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>
<header>
    <div th:insert="~{Fragment/Header :: header}">
    </div>
</header>

<main>
    <div class="container-fluid d-flex flex-column"
         style="min-height: 100vh; background-color: rgb(240, 240, 240)">
        <div class="returnToResView">
            <input type="button" th:value="'返回 ' + ${eatRepo.getResName()}" th:onclick="location.href='@{/ThinkEat/ViewEat/}'"></input>
        </div>
        <div class="repoTitleArea">
            <h3 th:text="${eatRepo.eatRepoTitle}"></h3>
        </div>
        <section class="d-flex justify-content-center bg-light">
            <div class="eatPicArea mx-2" style="width: 500px; height: 500px;">
                <img alt="" class="Eatpic img-fluid" th:src="@{'data:image/png;base64,' + ${eatRepo.eatPicBase64}}" />
            </div>
            <div class="eatInfoArea mx-2">
                <table>
                    <tr>
                        <td>文章Id：</td>
                        <td th:text="${eatRepo.eatRepoId}"></td>
                    </tr>
                    <tr>
                        <td>餐廳名稱：</td>
                        <td th:text="${eatRepo.getResName()}"></td>
                    </tr>
                    <tr>
                        <td>地址：</td>
                        <td th:text="${eatRepo.getResAddress()}"></td>
                    </tr>
                    <tr>
                        <td>用餐日期：</td>
                        <td>
                            <span th:text="${#dates.format(eatRepo.eatDate, 'yyyy-MM-dd E')}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>價位：</td>
                        <td th:text="${eatRepo.getPriceName()}"></td>
                    </tr>
                    <tr>
                        <td>標籤：</td>
                        <td th:text="${eatRepo.getAllTagNames()}"></td>
                    </tr>
                </table>
            </div>
        </section>

        <!--  食記區  -->
        <section class="eatRepoArea">
            <div>
                <table>
                    <tr>
                        <td>使用者ID：</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>使用者名稱：</td>
                        <td th:text="${eatRepo.user?.getUsername()}"></td>
                    </tr>
                </table>
            </div>
        </section>

        <!-- 留言區 -->
        <section class="cmtArea ">
            <!-- 發表留言 -->
            <div class="row">
                <form action="#" method="post">
                    <fieldset>
                        <legend>發表留言</legend>
                        <textarea rows="5" cols="80"></textarea>
                        <P />
                        <input type="submit" value="發表留言">
                        <button>清空</button>
                    </fieldset>
                </form>
                <!-- 所有留言一覽區 -->
                <div class="row">
                    <table>
                        <tr>
                            <td>{使用者ID：}</td>
                            <td>{該使用者投稿留言}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
        <!-- 功能：編輯文章(限發表者) -->
        <!-- 功能：加入收藏(所有人) -->
        <!-- 功能：返回一覽 -->
    </div>
</main>
</body>
</html>