<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'瀏覽餐廳 -' + ${restaurantDto.name}"></title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <style>
        /* Style for the table and legend */
        .ViewAlleatRepo {
            margin-top: 20px;
        }

        .eatRepoPic {
            height: 480px;
            width: auto;
        }

        legend {
            font-size: 1.5em;
        }

        table {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dee2e6; /* Bootstrap table border color */
            padding: 8px;
            text-align: left;
        }

        th {
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9; /* Alternate row background color */
        }

        a {
            text-decoration: none;
            color: #007bff; /* Bootstrap primary color */
        }
    </style>
</head>
<body style="background-color: rgb(240, 240, 240)">
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main class="my-3">

    <div class="container-medium d-flex justify-content-evenly-medium">
        <div class="row col-12">
            <div class="flexitem col-1" style="width:15%; height:100%; "></div>

            <div class="flexitem col-10 bg-light pb-3" style="width:70%; height:100%; ">
                <!-- 返回餐廳一覽 -->
                <div class="mt-2">
                    <input type="button"
                           class="btn btn-warning"
                           th:value="'返回餐廳一覽'"
                           th:onclick="|window.location.href='/ThinkEat/ViewEat/ShowEat/?page=0'|">
                </div>

                <!-- 餐廳資訊區 -->
                <section class="container-md mt-2 border border-3 border-warning rounded-3 ">
                    <!-- 餐廳標題 -->
                    <div class=" row">
                        <div class="col-10">
                            <h2 class="pt-3 col-11" th:text="${restaurantDto.name}"></h2>
                        </div>

                        <div class="col-2 pt-4">
                            <form method="post" th:action="@{/ThinkEat/ViewEat/ResInfo/DeleteRestaurant}">
                                <input type="hidden" id="restaurantId" name="restaurantId"
                                       th:value="${restaurantDto.id}">
                                <input type="submit" value="刪除這家餐廳">
                            </form>
                        </div>
                    </div>


                    <div class="d-flex flex-column mx-2">

                        <!--  圖片播放區 套用bootstrap輪播功能 -->
                        <div class="my-2">
                            <section id="carouselExampleCaptions" class="carousel bg-dark"
                                     data-bs-ride="carousel">
                                <div class="carousel-inner pickUpArea">
                                    <!-- 使用Thymeleaf的迭代器來生成輪播項目 -->
                                    <div th:each="restaurantImagePath, iterStat : ${restaurantImagePathList}"
                                         class="carousel-item"
                                         th:classappend="${iterStat.first} ? 'active'">
                                        <th:block th:if="${not #lists.isEmpty(restaurantImagePath)}">
                                            <img th:src="${restaurantImagePath}"
                                                 class="d-block mx-auto img-fluid"
                                                 th:alt="${restaurantDto.name}">
                                        </th:block>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>

                            </section>
                        </div>

                        <!-- 餐廳資訊區 -->
                        <div class="infoArea mb-2 py-2
                                        d-flex flex-column
                                        border border-warning rounded-2
                                        justify-content-evenly" style="height: 25%;">
                            <div class="row col-12 mx-1 fs-5 fw-light">
                                <div class="col-2">地址：</div>
                                <div class="col-10" th:text="${restaurantDto.address}"></div>
                            </div>

                            <div class="row col-12 mx-1 fs-5 fw-light">
                                <div class="col-2">價位：</div>
                                <div class="col-10" th:text="${averagePrice}"></div>
                            </div>

                            <div class="row col-12 mx-1 fs-5 fw-light">
                                <div class="col-2">標籤：</div>
                                <div th:each="tagName : ${topFiveTagNameList}" class="col-2" th:text="${tagName}"></div>
                            </div>

                            <div class="row mx-1 fw-light">
                                <div class="" th:text="'目前共有 ' +${eatRepoListCount} + ' 篇食記'"></div>
                            </div>

                        </div>
                    </div>

                </section>


                <!-- 食記列表 -->
                <section class="ViewAlleatRepo">
                    <fieldset class="">
                        <legend class="d-flex justify-content-between">
                            <span>食記一覽</span>
                            <form method="post" th:action="@{/ThinkEat/ShareEat/ChooseRestaurant}" class="">
                                <input type="hidden" id="restaurantId" name="restaurantId"
                                       th:value="${restaurantDto.Id}">
                                <input type="submit" value="發表文章"
                                       style="width: 112px; height: 41.59px; "
                                       class="btn btn-warning">
                            </form>
                        </legend>
                        <table class="">
                            <thead>
                            <tr>
                                <th class="bg-warning">發文者</th>
                                <th class="bg-warning">品嘗日期</th>
                                <th class="bg-warning">標題</th>
                                <th class="bg-warning">連結</th>
                            </tr>
                            </thead>
                            <tbody th:each="eatRepoDto : ${eatRepoDto}">
                            <tr>
                                <td>會員功能尚待追加</td>
                                <td th:text="${#dates.format(eatRepoDto.date, 'yyyy-MM-dd E')}"></td>
                                <td th:text="${eatRepoDto.title}"></td>
                                <td>
                                    <a th:href="@{/ThinkEat/ViewEat/EatRepo/{id}(id=${eatRepoDto.id})}">點我前往</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </section>
            </div>

            <div class="flexitem col-1" style="width:15%; height:100%;"></div>
        </div>
    </div>


</main>

</body>
</html>