<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>看所有餐廳</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body style="background-color: rgb(240, 240, 240)">
<!-- Header區塊 -->
<header>
    <div th:insert="~{Fragment/Header :: header}"></div>
</header>

<!-- Main區塊 -->
<main class="mt-2">

    <!-- 標題 -->
    <div class="fs-3 fw-bold text-center my-1">
        餐廳一覽
    </div>

    <div class="container-medium my-3">
        <div class="row col-12">
            <div class="flexitem col-1" style="width:15%; height:100%; "></div>
            <div class="flexitem col-10 bg-light pb-3" style="width:70%; height:100%; ">
                <section class="d-flex justify-content-center align-items-center Intro">
                    <div class="bg-light" style="width: 90%; height: 95%">
                        <!-- 接收所有餐廳資訊，生成縮圖 -->
                        <div class="pagination d-flex flex-wrap justify-content-center mt-4">
                            <div class="row">
                                <th:block th:each="restaurant : ${restaurantPageDto.restaurantList}">
                                    <div class="col-3">
                                        <figure th:if="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                                class="m-2 d-flex flex-column align-items-center">
                                            <img th:src="${restaurant.resPicList.get(0).htmlPath}"
                                                 class="img-thumbnail"
                                                 style="height: 150px; width: 150px; background-color: red;">
                                            <div class="text-center my-1">
                                                <a th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                                   th:text="${restaurant.name}"></a>
                                            </div>
                                        </figure>
                                        <figure th:unless="${restaurant.resPicList != null and not #lists.isEmpty(restaurant.resPicList)}"
                                                class="m-2 d-flex flex-column align-items-center">
                                            <img style="height: 150px; width: 150px; background-color: darkgray;"
                                                 class="img-thumbnail">
                                            <div class="text-center  my-1">
                                                <a class="text-center fs-6"
                                                   th:href="@{/ThinkEat/ViewEat/ResInfo/{id}(id=${restaurant.id})}"
                                                   th:text="${restaurant.name}"></a>
                                            </div>
                                        </figure>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <!-- 分頁頁籤 -->
                        <div class="d-flex justify-content-center">
                            <div class="bg-light mt-5 align-self-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <!-- 第一頁 -->
                                        <li class="page-item" th:if="${curPage > 0}">
                                            <a class="page-link" th:href="@{/ThinkEat/ViewEat/ShowEat/(page=0)}">
                                                第一頁
                                            </a>
                                        </li>

                                        <!-- 上一頁 -->
                                        <li class="page-item" th:if="${curPage > 0}">
                                            <a class="page-link"
                                               th:href="@{/ThinkEat/ViewEat/ShowEat/(page=${curPage - 1})}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                        <!-- 以頁碼切換 -->
                                        <li class="page-item" th:each="i : ${#numbers.sequence(0, maxPage -1)}">
                                            <a class="page-link" th:href="@{/ThinkEat/ViewEat/ShowEat/(page=${i})}"
                                               th:text="${i} + 1"></a>
                                        </li>

                                        <!-- 下一頁 -->
                                        <li class="page-item" th:if="${curPage < maxPage - 1}">
                                            <a class="page-link"
                                               th:href="@{/ThinkEat/ViewEat/ShowEat/(page=${curPage + 1})}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>

                                        <!-- 最後一頁 -->
                                        <li class="page-item" th:if="${curPage < maxPage - 1}">
                                            <a class="page-link"
                                               th:href="@{/ThinkEat/ViewEat/ShowEat/(page=${maxPage}-1)}">
                                                最後一頁
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> <!-- 分頁頁籤結束 -->
                        </div>
                    </div> <!-- 大div區結束 -->

                </section>
            </div>
            <div class="flexitem col-1" style="width:15%; height:100%;"></div>
        </div>
    </div>
</main>

<!-- JavaScript代码 -->
<script th:inline="javascript">
    function handlePageChange(newPage, maxPage) {
        if (newPage < 0 || newPage >= maxPage) {
            alert("已经在第一页或最后一页！");
            return false; // 阻止链接跳转
        }
        return true; // 允许链接跳转
    }
</script>

</body>
</html>
